/*important*/
img{
    max-width: 100% !important;
    max-height: 100% !important;
}

a {
    text-decoration: none;
    color: #646464;
}

li{
    list-style-type: none;
}
/*Header*/
header {
    display: block;
    width: 100%;
    border-top: 6px solid #8ec642;
}

.tf-logo-img {
    height: 100px;
}

.header-contact{
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 0;
    top: 25px;
}

.nav-list{
    text-align: center;
}

.nav-list > li {
    display: inline-block;
    width: 20%;
    position: relative;
}

.nav-list > li:hover .menu-items{
    display: block;
    position: absolute;
}

.menu-items > li{
    position: relative;
}

.menu-items > li:hover, .menu-sub-items > li:hover{
    background-color: #EFEFEF;
    color: #8ec642;
}

.menu-items > li:hover .menu-sub-items{
    display: block;
    position: absolute;
    left: 101%;
    top: 0;
}

.menu-items, .menu-sub-items {
    display: none;
    border-radius: 2px;
    background-color: #646464;
    color: #EFEFEF;
}



#header-banner{
    display: block;
    position: relative;
    width: 100%;
}

#header-nav {
    display: block;
    background-color: #EFEFEF;
    color: #8A8A8A;
}

/*Footer*/
footer{
    border-top: 3px solid #8A8A8A;
}