/*important*/
img{
    max-width: 100% !important;
    max-height: 100% !important;
}

a {
    text-decoration: none;
    color: #646464;
}
/*Header*/
header {
    display: block;
    width: 100%;
    border-top: 3px solid #8ec642;
}

.tf-logo-img {
    height: 100px;
}

.header-contact{
    display: inline-block;
    position: absolute;
    text-align: right;
    right: 0;
    top: 25px;
}

.nav-list{
    text-align: center;
}

.nav-list > li {
    display: inline-block;
    width: 20%;
}

#header-banner{
    display: block;
    position: relative;
    width: 100%;
}

#header-nav {
    display: block;
    background-color: #EFEFEF;
    color: #8A8A8A;
}

